﻿body {
    background-color: lightblue;
}

#upLeft {
    margin-top: 10px;
    padding: 5px;
    float:left;
    width: 80%; 
    height: 30px;
    border:1px solid black;
    border-radius: 5px;
}

#upRight {
    margin-top: 10px;
    padding: 5px;
    float:right;
    width: 17%;
    height: 30px;
    border: 1px solid black;
    border-radius: 6px;
}

#midLeft {
    margin-top: 10px;
    padding: 5px;
    float:left;
    width: 80%;
    height:40%;
    border: 1px solid black;
    border-radius: 5px;
}

#midRightUp {
    margin-top: 10px;
    padding: 5px;
    float:right;
    width: 17%;
    height:40%;
    border: 1px solid black;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#midRightDown {
    padding: 5px;
    float:right;
    width: 17%;
    height:40%;
    border: 1px solid black;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#downLeft {
    margin-top: 10px;
    padding: 5px;
    float:left;
    width: 80%;
    height:30px;
    border: 1px solid black;
    border-radius: 5px;
}

#downRight {
    margin-top: 10px;
    padding: 5px;
    float:right;
    width: 17%;
    height:30px;
    border: 1px solid black;
    border-radius: 5px;
}

.button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.textbox {
    width:99%;
    height: 80%;
    border-radius: 10px;
}

.ListBox {
    width:99%;
    height: 80%;
    border-radius: 10px; 
}