﻿body {
    background-color: lightblue;
}

.TitleStyle {
    color: #ffffff;
    font-family: 'Raleway',sans-serif; 
    font-size: 62px; font-weight: 800; 
    line-height: 72px;
    margin: 0 0 24px; 
    text-align: center; 
    text-transform: uppercase; 
}

.LoginStyle {
    font-family: 'Raleway',sans-serif; 
    margin: 0 0 24px; 
    text-align: center; 
}

.LoginStyleRight {
    font-family: 'Raleway',sans-serif; 
    margin: 0 0 24px; 
    text-align: right; 
}

#divRegistration {
    width: 40%;
    float:left;
    text-align: right;
}

#divLabels {
    padding-left: 30px;
    float:left;
    width: 15%;
    text-align: right; 
 }

#divInput {
    width: 41%;
    float:right;
}

#divButton {
    margin-top: 10px;
    position: absolute;
    height: 30px;
    border: 1px solid black;
    border-radius: 6px;
}

.button{
    width: 40%;
    height: 100%;
    border-radius: 5px;
}
